<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBD6XWXwo9HURVP7l7n_DoMu82vaPVJ9UE</string>
	<key>GCM_SENDER_ID</key>
	<string>1026547800577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.levelApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>levelapp-c2368</string>
	<key>STORAGE_BUCKET</key>
	<string>levelapp-c2368.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026547800577:ios:a04eba72b12b56082b7e00</string>
</dict>
</plist>